/* Tags */

figcaption {
    text-align: center;
}

/* Classes*/

.fa-dribbble {
  background: #3B5998;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}